<ion-header>
  <ion-toolbar>
    <ion-title>Jobs</ion-title>
  </ion-toolbar>
</ion-header>

<!-- fab placed to the top end -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addJob()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content>
<ion-list>
  <ion-card *ngFor="let job of jobs">
    <ion-item lines="full">
      <ion-label class="position">
       <strong>{{job.position}}</strong>
      </ion-label>
      <ion-label slot="end" class="company">
        {{job.company}}
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="type">
        Type: <strong>{{job.type}}</strong>
      </ion-label>
      <ion-label class="salary" slot="end">
        Php {{job.salary}}
      </ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-text class="description">
        {{job.description}}
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label class="time">
         posted {{toDate(job.timestamp) | timeAgo}}
      </ion-label>
      <ion-button slot="end" (click)="applyToJob(job.key)">
        apply
      </ion-button>
    </ion-item>

  </ion-card>
</ion-list>
  
  

</ion-content>
