.position {
   
}

.company, .salary {
    color: gray !important;
    font-size: small !important;
    text-align: right !important;
}

.type {
    color:  gray !important;
    font-size: smaller;
}

.time {
    color:  gray !important;
    font-size: x-small;
}

.description {
    font-size: small;
}

