// ion-card {
//   width: 100%;
//   margin-right: 0rem;
//   margin-left: 0rem;
// }

.image {
  width: 100%;
  height: auto;
}

.imgContainer {
  width: 100%;
  height: 150px;
  background-color: lightgray;
  background-image: url("../../../assets/placeholder_image.svg");
  background-size: cover;
}

.center {
  align-content: center;
}

ion-avatar  {     
  width:100% !important;  
  height : 100% !important;  
  max-width: 50px !important;  //any size
  max-height: 50px !important; //any size 
}

ion-card-content {
  white-space: normal;
}